div {  
        height:100px;
        width:100px;
                background-color: skyblue;
               /* border-width:2px;
                border-style: solid;
                border-color:aqua;*/
                border:2px solid orange;
                border-radius: 50%;
}
                